body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.user-info {
    margin-top: 20px;
}

.user-info img {
    border-radius: 50%;
}

.rectangles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.rectangle {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    width: 100%;
}
