body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-button img {
    width: 20px;
}

.stats-icon {
    width: 50px;
    height: 45px;
}

.main-content {
    margin: 20px;
}

.date-container {
    background-color: #3498db;
    padding: 10px;
    text-align: center;
}

.date-header h2 {
    color: white;
    margin: 0;
}

.meal-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.meal {
    text-align: center;
}

h3 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
}


footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: 30%;
}